<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222990237978-op50nmoub43k25acfs947alc0sfs8n8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222990237978-op50nmoub43k25acfs947alc0sfs8n8f</string>
	<key>API_KEY</key>
	<string>AIzaSyAt5Q9pmlGbNfLa4Ref42eAcn-tHwo52B4</string>
	<key>GCM_SENDER_ID</key>
	<string>222990237978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.big.size.clothing.shop</string>
	<key>PROJECT_ID</key>
	<string>big-size-clothing-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>big-size-clothing-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222990237978:ios:9aa23be0d3f65da88e6ca3</string>
</dict>
</plist>